{% extends "base.html" %}
{% block title %} Admin Confirm {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Transfers to confirm</h1>
        <form action="{% url 'transfers_to_confirm' %}" method="POST" id='form_id'>
            {% csrf_token %}
            <table id="table">
                <tr>
                    <th>Receiver</th>
                    <th>Receiver's number account</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Confirm</th>
                 </tr>
            {% for t in transfers %}
                <tr>
                    <td>{{ t.receiver_name | safe}}</td>
                    <td name="account">{{ t.receiver_account }}</td>
                    <td>{{ t.title | safe}}</td>
                    <td>{{ t.amount | safe}}</td>
                    <td name="date">{{ t.date }}</td>
                    {% comment %} <td><form method="post" id='form_id'>
                    <input class="button" type='submit' name='{{t.id}}' value='confirm' >
                    </form></td> {% endcomment %}
                    <input type='hidden' name='transfer' value='{{ t.id }}'>
                    <td>
                    <button class='button' type='submit'>Confirm {{ t.id }}</button>
                    </td>

                    {% comment %} <td><button onclick="confirm(t.id)">Confirmed</button></td> {% endcomment %}
                    {% comment %} <a href="/confirm?id={{t.id}}">Give confirmation</input> {% endcomment %}
                </tr>
            {% endfor %}
            </table>
        </form>
        <a href="{% url 'home' %}" class="button">Come back</a>
    {% else %}
         <p>You're not logged!</p>
        <a href="{% url 'login' %}" class="button">Sign in</a>
        <a href="{% url 'signup' %}" class="button">Sign up</a>
    {% endif %}
{% endblock %}